<%= form_for @interface, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :read, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.check_box :read, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :user, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :book, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :book, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  interfaces_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
